
.history-entry {
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-bottom: 3px;
}

.date-range {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5px;
  flex: 0 150px;
}

.date-range-label {
  font-size: 11pt;
  font-weight: 600;
}

.date-range-elapsed {
  font-size: 9pt;
  color: gray;
}

.time-line {
  flex: 0 40px;
  margin-right: 20px;
  margin-left: 10px;
}

.history-entry-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.history-entry-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.history-entry-description {
  margin-top: 5px;
  margin-bottom: 20px;
}

.history-entry-header .title {
  font-size: 16pt;
  font-weight: 700;
  margin-right: 10px;
  margin-bottom: 2px;
}

.history-entry-header .company-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* font-size: 14pt; */
  font-weight: 400;
  margin-left: 10px;
  color: #114;
  cursor: pointer;
}

.company-link .icon {
  margin-right: 5px;
  border-radius: 3px;
}