
.icon-label:visited {
  color: inherit;
}

.icon-label {
  /* font-size: 1.2em; */
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.icon-label[href]:hover {
  color: #ddd;
}

.icon-label span {
  margin-left: 0.5rem;
}

.icon-label i {
  font-size: 1.3em;
}