

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.image {
  border-radius: 5px;
}

.image-caption {
  font-size: 10pt;
  color: gray;
  margin: 10px;
  max-width: 230px;
}