body {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
  background-color: rgb(36, 37, 48);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* flex: 0 1 1000px; */
  max-width: 1000px;
  margin: auto;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: orange;
}

h1 {
  color: darkslateblue;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.badge {
  background-color: rgb(65, 86, 144);
  color: white;
  font-size: 10pt;
  padding: 1px 4px;
  border-radius: 4px;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0px;
}